@import "tailwindcss";

@theme {
  --color-durra-green: #006838;
  --color-durra-green-light: #008a4b;
  --color-durra-red: #ED1C24;
  --color-durra-red-light: #ff333b;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-area, .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hide-on-print {
    display: none !important;
  }
}
